labs-10/src/main/app/labs-10.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <jms:activemq-connector name="Active_MQ" specification="1.1" brokerURL="vm://localhost" validateConnections="true" doc:name="Active MQ"/>
    <flow name="labs-10Flow1" doc:name="labs-10Flow1">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="terminal.queue" connector-ref="Active_MQ" doc:name="JMS"/>
        <cxf:jaxws-service doc:name="CXF" service="AirportTerminalService" serviceClass="com.mulesoft.training.soap.AirportTerminalService"/>
        <component class="com.mulesoft.training.soap.AirportTerminal" doc:name="Java"/>
    </flow>
    <flow name="labs-10Flow2" doc:name="labs-10Flow2">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="client" doc:name="HTTP"/>
        <response>
        	<object-to-string-transformer doc:name="Object to String"/>
        </response>
        <cxf:jaxws-client operation="listAllTerminalStatuses" serviceClass="com.mulesoft.training.soap.AirportTerminalService" doc:name="CXF"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="terminal.queue" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
    <flow name="labs-10Flow3" doc:name="labs-10Flow3">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP" path="clientFind"/>
        <response>
        	<object-to-string-transformer doc:name="Object to String"/>
        </response>
        <set-payload doc:name="Set Payload" value="#[message.inboundProperties['terminal']]"/>
        <cxf:jaxws-client doc:name="CXF" operation="findTerminalStatus" serviceClass="com.mulesoft.training.soap.AirportTerminalService"/>
        <jms:outbound-endpoint exchange-pattern="request-response" queue="terminal.queue" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
</mule>
